body {
	background: #011223;
}

.header {
	background: #073050;
	color: #47A4EC;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, .2);
}

.content{
	color: #75BEF5;
}

.wrapper div {
	background: #073050;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
}

.footer {
	box-shadow: 0px -1px 6px rgba(0, 0, 0, .2);
	background: #176199;
	color: #97CCF5;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	background-color: #47A4EC;
}

.menu__box {
	background-color: #09385C;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
	color: #47A4EC;
}
.menu__item:hover {
	background-color: #114F7E;
}

/* .colors {
	color: #073050;
	contrast: #47A4EC;
	color: #114F7E;
	contrast: #97CCF5;
	color: #176199;
	color: #09385C;
	contrast: #75BEF5;
	color: #011223;
	contrast: #5489B1;

	color: #011223;
	color: #09385C;
	color: #073050;
	color: #114F7E;
	color: #176199;
	color: #5489B1;
	color: #47A4EC;
	color: #75BEF5;
	color: #97CCF5;
} */